[Unit]
Description=Expose the SureMark 4610 usb device to the network using usbip 
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/usbipd -D
ExecStartPost=/bin/sh -c "/usr/sbin/usbip bind --$(/usr/sbin/usbip list -p -l | grep '#usbid=04b3:4535#' | cut '-d#' -f1)"
ExecStop=/bin/sh -c "/usr/sbin/usbip unbind --$(/usr/sbin/usbip list -p -l | grep '#usbid=04b3:4535#' | cut '-d#' -f1); killall usbipd"

[Install]
WantedBy=multi-user.target

