[Unit]
Description=Telegram bot in Python to automatically print messages on an IBM SureMark 4610 receipt printer.
Requires=systemd-modules-load.service
After=systemd-modules-load.service network-online.target
Wants=network-online.target

[Service]
User=>>>USERNAME<<<
WorkingDirectory=/opt/suremark
ExecStart=/home/>>>USERNAME<<</.config/suremark/venv/bin/python /opt/suremark/suremark.py

[Install]
WantedBy=multi-user.target
