[Unit]
Description=Shell script that polls ~/.tg_bot_read_dir and scp's toprint.txt to the print server
Requires=systemd-modules-load.service
After=systemd-modules-load.service network-online.target
Wants=network-online.target

[Service]
User=ostheer
ExecStart=/home/ostheer/.tg_bot_read_dir/send_poller

[Install]
WantedBy=multi-user.target
